body {
  padding-top: 50px;
  background-image: linear-gradient(to bottom, white, #EFEFEF);
}
.starter-template {
  padding: 20px 15px;
  text-align: center;
}

.navbar-logo {
  height: 50px;
  padding: 0px 10px;
}

.large-logo {
  padding: 0px 20px;
}

.presenter {
  text-align: center;
}

.panel-presenter {
  margin-top: 20px;
}
